<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Industry - Task Manager</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <header class="flex"><p class="titulo">Task Manager</p> <div class="divLinks"><a href="/">Home</a> <a href="/usuario">User</a> <a href="/tarefa">Manage Task</a></div></header>
    <div class="border main-thing">
    {{{body}}}
    </div>
    
</body>
</html>