<p>Tarefas</p>
<div class="divDasDivs flex">
    <div class="divTarefas">
        <p class="titulo">A Fazer</p>
        <div class="boxTarefa flex">
            <p>Descrição:</p>
            <p>Setor:</p>
            <p>Prioridade:</p>
            <p>Viculado a:</p>
            <div><button>Editar</button> <button>Excluir</button></div>
            <div><select name="status" id="status"><option value="0">A Fazer</option> <option value="1">Fazendo</option> <option value="2">Pronto</option></select> <button>Alterar Status</button></div>
        </div>
    </div>
    <div class="divTarefas">
        <p class="titulo">Fazendo</p>
        <div class="boxTarefa flex">
            <p>Descrição:</p>
            <p>Setor:</p>
            <p>Prioridade:</p>
            <p>Viculado a:</p>
            <div><button>Editar</button> <button>Excluir</button></div>
            <div><select name="status" id="status"><option value="0">A Fazer</option> <option value="1">Fazendo</option> <option value="2">Pronto</option></select> <button>Alterar Status</button></div>
        </div>
    </div>
    <div class="divTarefas">
        <p class="titulo">Pronto</p>
        <div class="boxTarefa">
            <p>Descrição:</p>
            <p>Setor:</p>
            <p>Prioridade:</p>
            <p>Viculado a:</p>
            <div><button>Editar</button> <button>Excluir</button></div>
            <div><select name="status" id="status"><option value="0">A Fazer</option> <option value="1">Fazendo</option> <option value="2">Pronto</option></select> <button>Alterar Status</button></div>
        </div>
    </div>
</div>